<ion-content>
  <div class="flex-center">
    
    <ion-card>
      <ion-card-header>
    
        <ion-card-title style="text-align: center;" color="primary">Login</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item color="white">
      <ion-label color="primary" position="floating">Email</ion-label>
      <ion-input type="email"></ion-input>
      
    </ion-item><ion-item color="white">
      <ion-label color="primary" position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
      
    </ion-item>
    <ion-button class="forgot" size="full" fill="clear">Forgot email / password</ion-button>

    <ion-button class="login" (click)="onClick()" expand="block"  size="full">
      Login
    </ion-button>
    <ion-button class="login" (click)="onClick()" expand="block" size="full">
      Login with &nbsp; <ion-icon name="logo-github"></ion-icon>
    </ion-button>
<p>Don't have an account? <span style="color: #377DFF;">Sign up</span></p>
      </ion-card-content>
    </ion-card>
    
  </div>
</ion-content>