<ion-content>
  
  <div class="flex-center">
    
    <ion-card>
      <ion-card-header>
    
        <ion-card-title style="text-align: center;" color="primary">Login</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        
      <ion-item color="white">
        <ion-label color="primary" position="floating">Email</ion-label>
          <form>
            <ion-input type="email" required></ion-input>
          </form>
        </ion-item>
    
    <ion-item color="white">
      <ion-label color="primary" position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
      
    </ion-item>
    <ion-button class="forgot" size="full" fill="clear">Forgot email / password</ion-button>

    <!-- botao de login com redirecionamento para a pagina de feed -->
    <ion-button type="submit"[routerLink]="['/feed']" routerDirection="forward" class="login" expand="block" size="full" shape="round">
      Login
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </ion-button>

    <ion-button class="login" expand="block" size="full"
    shape="round">
      Login with &nbsp; <ion-icon name="logo-github"></ion-icon>
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </ion-button>


<ion-button [routerLink]="['/sign-up']" routerDirection="forward" 
  fill="clean">
  <p>Don't have an account? <span style="color: #377DFF;">Sign up</span></p>
</ion-button>

      </ion-card-content>
    </ion-card>
    
  </div>
</ion-content>