<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BoTech
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">BoTech</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="login">
    <strong>Login</strong>
    <div>
    <!-- Input with placeholder -->
<ion-input class="input-place-holder" placeholder = "Enter Input"></ion-input></div>
  
  </div>
</ion-content>
