<ion-header>
  <ion-toolbar>
    <ion-title> <ion-icon name="beer"></ion-icon>&nbsp;BoTech</ion-title>
  </ion-toolbar>
</ion-header>

<ion-segment [(ngModel)]="segment" mode="md" #segmentcontrol>
  <ion-segment-button value="home">
    <ion-label class="topbar">Home</ion-label>
  </ion-segment-button>
  <ion-segment-button class="topbar" value="Video">
    <ion-label>Videos</ion-label>
  </ion-segment-button>
  <ion-segment-button class="topbar" value="Code">
    <ion-label>Code</ion-label>
  </ion-segment-button>
</ion-segment>



<ion-content>

  <!--Botão Menu Superior-->
  <ion-fab translucent=true class="fab" vertical="top" horizontal="end" slot="fixed" side="start">
    <ion-fab-button>
      <svg xmlns="http://www.w3.org/2000/svg" width="59" height="57" viewBox="0 0 59 57">
        <g id="Group_30" data-name="Group 30" transform="translate(0.654 -0.63)">
          <rect id="Rectangle" width="59" height="57" transform="translate(-0.654 0.63)" fill="none"/>
          <g id="Group_31" data-name="Group 31" transform="translate(17.157 19.035)">
            <g id="Rectangle-2" data-name="Rectangle" transform="translate(0 0)" fill="#fff" stroke="#fff" stroke-miterlimit="10" stroke-width="1">
              <rect width="11.029" height="7.72" rx="1.568" stroke="none"/>
              <rect x="0.5" y="0.5" width="10.029" height="6.72" rx="1.068" fill="none"/>
            </g>
            <rect id="Rectangle_Copy_2" data-name="Rectangle Copy 2" width="11.029" height="14.338" rx="1.568" transform="translate(13.112 0)" fill="#1a91fa"/>
            <rect id="Rectangle_Copy_5" data-name="Rectangle Copy 5" width="11.029" height="14.338" rx="1.568" transform="translate(0 9.926)" fill="#1a91fa"/>
            <g id="Rectangle_Copy_3" data-name="Rectangle Copy 3" transform="translate(13.112 16.543)" fill="#fff" stroke="#fff" stroke-miterlimit="10" stroke-width="1">
              <rect width="11.029" height="7.72" rx="1.568" stroke="none"/>
              <rect x="0.5" y="0.5" width="10.029" height="6.72" rx="1.068" fill="none"/>
            </g>
          </g>
        </g>
      </svg>
      
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button>
        <ion-icon name="cog"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="play"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="trail-sign"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="bookmarks"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="basket"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="git-branch"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>

    <ion-row class="ion-justify-content-start">
      <ion-col>
        <ion-button fill="clear" color="medium" size="small">
          <ion-icon name="heart-outline"></ion-icon>
          </ion-button>
          </ion-col> 
          
          <ion-col>
            <ion-button fill="clear" color="medium" size="small">
              <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
              </ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="clear" color="medium" size="small">
              <ion-icon 
              name="repeat-outline" slot="start"></ion-icon>
              </ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="clear" color="medium" size="small">
              <ion-icon name="share-outline" slot="start"></ion-icon>
              </ion-button>
          </ion-col>
          </ion-row>
         
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>

    <ion-row class="ion-justify-content-start">
      <ion-col>
        <ion-button fill="clear" color="medium" size="small">
          <ion-icon name="heart-outline"></ion-icon>
          </ion-button>
          </ion-col> 
          
          <ion-col>
            <ion-button fill="clear" color="medium" size="small">
              <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
              </ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="clear" color="medium" size="small">
              <ion-icon 
              name="repeat-outline" slot="start"></ion-icon>
              </ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="clear" color="medium" size="small">
              <ion-icon name="share-outline" slot="start"></ion-icon>
              </ion-button>
          </ion-col>
          </ion-row>
    
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-row class="ion-justify-content-start">
      <ion-col>
        <ion-button fill="clear" color="medium" size="small">
          <ion-icon name="heart-outline"></ion-icon>
          </ion-button>
          </ion-col> 
          
          <ion-col>
            <ion-button fill="clear" color="medium" size="small">
              <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
              </ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="clear" color="medium" size="small">
              <ion-icon 
              name="repeat-outline" slot="start"></ion-icon>
              </ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="clear" color="medium" size="small">
              <ion-icon name="share-outline" slot="start"></ion-icon>
              </ion-button>
          </ion-col>
          </ion-row>
    
  </ion-card>
  



</ion-content>


<ion-toolbar id="bottom-toolbar">
  <ion-tabs id="">
    <ion-tab-bar class="bottom-menu" slot="bottom" slot="bottom">
      <ion-tab-button tab="home" class="bottom-menu">
        <ion-icon name="home"></ion-icon>
        <ion-label></ion-label>
        <ion-badge></ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="discover" class="bottom-menu">
        <ion-icon name="planet"></ion-icon>
        <ion-label></ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="chat" class="bottom-menu">
        <ion-icon name="chatbox"></ion-icon>
        <ion-label></ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="profile" class="bottom-menu">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label></ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>