<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="flexcontent">
    <ion-avatar class="imageCenter">
      <img src="https://lh3.google.com/u/1/ogw/ADea4I7_VbO-PYOsR_y5s-tReMwQyAt7dtWMnDhgGBn1=s192-c-mo">
    </ion-avatar>
    <h1 id="profileName">Gabriel Camacho</h1>
    
</div>
<ion-grid>
  <ion-row>
    <ion-col size="4" class="ion-text-center">
      <ion-label class="profileNumber">2,7K
        <p><ion-text style="font-size: 12px;">
          Followers
        </ion-text></p>
      </ion-label>
    </ion-col>

    <ion-col size="4" class="ion-text-center">
      <ion-label class="profileNumber">651
        <p><ion-text style="font-size: 12px;">
          Following
        </ion-text></p>
      </ion-label>
    </ion-col>

    <ion-col size="4" class="ion-text-center">
      <ion-label class="profileNumber">46
        <p><ion-text style="font-size: 12px;">
          Friends
        </ion-text></p>
      </ion-label>
    </ion-col>

    
    
  </ion-row>
  <ion-row>
    <ion-progress-bar class="progressBar" value="0.65"></ion-progress-bar>
  </ion-row>

  <ion-row>
  <ion-label id="level">Professional level 15</ion-label>
  <ion-label id="points">15.650 Points</ion-label>
</ion-row>
<ion-row><ion-col><ion-label id="description">Software Engineering Student 💻 focusing on front-end, ReactJS, NodeJs and ReactNative</ion-label></ion-col></ion-row>
</ion-grid>



</ion-content>
